<% @product.comments.each do |comment| %>
    <p>
      <strong><%= comment.commenter %>:</strong>
      
    </p>
  
    <p>
      <strong>Отзыв:</strong>
      <%= comment.body %>
    </p>

    <p>
    <%= link_to "Удалить", [comment.product, comment], data: {
                  method: :delete,
                  confirm: "уверен?"
                } %>
    </p>
  <% end %>