<h1><%= t('.Категории') %></h1>

<div class="buttons_panel">
  <%= link_to 'Новая категория', new_category_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<section id="categories">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%=link_to category.name, category_category_products_path(category)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>